header {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--text-color);
  overflow-x: scroll;
}

button {
  width: 1.8rem;
  aspect-ratio: 1;
  margin-left: auto;
  border-radius: 50%;
  background: none;
  border: 1px solid var(--text-color);
}
