footer {
  padding: 2rem 1rem;
  background: var(--bg);
  color: var(--gray-100);
  text-shadow: var(--shadow);
  text-align: center;
  transition: var(--transition);
}

p:first-child ::ng-deep svg {
  margin-right: 0.2rem;
}

svg {
  width: 1rem;
  margin-left: 0.2rem;
  margin-right: -0.26rem;
  display: inline-block;
}
