<h1 #scrollTo>Get in touch</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
    <label for="name">Your name</label>
    <input id="name"  placeholder="John / Joan / Juan / Jean" formControlName="name" />
  </p>
  <p>
    <label for="email">Your email</label>
    <input id="email" placeholder="user@aol.com" type="email" formControlName="email" />
  </p>
  <p>
    <label for="message">Your Message</label>
    <textarea
                   id="message"
                 rows="5"
          placeholder="message goes here...."
      formControlName="message"
    ></textarea>
  </p>
  <button [disabled]="form.invalid">Send</button>
</form>
