:host {
  display: block; // set height with directive
}

h1 {
  margin: 2rem auto 0.2rem;
  max-width: 450px;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--accent);
  transition: var(--transition);
}

ul {
  margin: 0 auto 2rem;
  padding: 1.5rem;
  max-width: 450px;
  border: var(--border);
  border-radius: var(--round);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); // *3*cols/rows++
  justify-items: end;
  gap: 1rem;
  overflow-x: scroll;
  transition: var(--transition);

  &.row {
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    max-width: 100%;
    overflow-x: hidden;
    li { animation: scroll-x 20s linear infinite; }
  }
}

li {
  height: fit-content;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  color: var(--accent);
  transition: var(--transition);

  p {
    font-weight: 300;
  }

  svg {
    min-width: 1.2rem;
  }
}

@keyframes scroll-x {
  from { transform: translateX(0);    }
  to   { transform: translateX(-100vw); }
}

@media screen and (pointer: coarse) {
  ul {
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  li {
    p { font-size: 0.9rem; }
    svg { min-width: 1rem; }
  }
}

@media (hover: hover) and (pointer: fine) {
  li:hover {
    background: var(--hover);
    color: var(--gray-100);
  }
}
