ul {
  margin: 2rem auto;
  padding: 1.5rem;
  max-width: 450px;
  border: var(--border);
  border-radius: var(--round);
  // display: flex; // enable flex
  // flex-wrap: wrap; // flex
  // justify-content: center; // flex
  display: grid; // enable grid
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); // *3*cols/rows++
  justify-items: end; // *grid
  gap: 1rem;
  overflow-x: scroll; // scroll when single row

  &.row {
    // flex-wrap: nowrap; // enable flex
    // justify-content: start; // flex
    grid-auto-flow: column; // *enable grid
    grid-template-columns: 1fr; // *grid
  } // * = can leave enabled while using flex -> has no effect while !grid
}

li {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background: var(--hover);
    color: var(--gray-100);

    svg {
      color: var(--gray-100);
    }
  }
}

p {
  font-weight: 300;
  font-size: 0.9rem;
}

svg {
  min-width: 1rem;
  color: var(--accent);
}
