:host {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  // gradient && img: url must be shorthand single line. Colors must have transparency
  background: var(--gradient),
    url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

main {
  flex: 1;
  padding: 1rem 10%;
}
