:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // gradient && img: url must be shorthand single line. Colors must have transparency
  background: var(--gradient),
    url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

main {
  flex: 1;
  padding: 1rem 10%;
}

#page {
  view-transition-name: page;
  height: 400px;
}
