:host {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: var(--border);
  background: var(--hover);
  transition: var(--transition);
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 0.5rem;
  color: var(--gray-100);
  transition: var(--transition);

  a {
    transition: var(--transition);

    &:hover, &.active {
      color: var(--hover);
      background: var(--gray-100);
    }
  }

  > a {
    padding: 0.5rem;
    flex: 1;
    text-align: end;
    font-size: 1.5rem;
    font-weight: 700;
  }

  section {
    padding-top: 0.5rem;

    h2 {
      padding-left: 0.5rem;
      font-weight: 700;
      font-size: 1.2rem;
      text-transform: capitalize;
    }

    h3 {
      padding-left: 0.5rem;
      font-size: 1.4rem;
    }

    div {
      margin-top: 0.2rem;
      display: flex;

      a {
        padding: 0.5rem;
      }
    }
  }
}

#project-router {
  height: 336px;
}

footer {
  margin: 0.5rem auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.35rem;

  a {
    padding: 0.25rem 0.5rem;
    font-size: 1.2rem;
    color: var(--gray-100);
    background: var(--hover);
    border: 1px solid var(--gray-100);
    border-radius: var(--round);
    transition: var(--transition);

    &:hover {
      color: var(--hover);
      background: var(--gray-100);
    }
  }
}
