<header #header>
  <section>
    <h2>{{ project().name }}</h2>
    <h3>{{ project().title }}</h3>
    <div>
      <a
        routerLink="./"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>
      <a [routerLink]="['./', 'about']" routerLinkActive="active">About</a>
      <a [routerLink]="['./', 'stack']" routerLinkActive="active-last">Stack</a>
    </div>
  </section>
  <a routerLink="/projects">
    <fa-icon icon="arrow-left" />
    BACK
  </a>
</header>
<div id="project-router">
  <router-outlet />
</div>
<footer>
  <div>
    <a [href]="project().link" target="_blank">
      <fa-icon icon="globe" />
      Demo
    </a>
    <a [href]="project().github" target="_blank">
      <fa-icon [icon]="['fab', 'github']" />
      GitHub
    </a>
  </div>
</footer>
